<footer>
    <p> Ce site est développé dans le cadre du cours <a href="http://www.etudier.uqam.ca/cours?sigle=INF3190" target="_blank">INF3190</a> à l’université de <a href="http://www.uqam.ca" target="_blank">l'UQAM</a></p>
    <p>Noms des développeurs: <a href="https://gitlab.info.uqam.ca/kovalenko.elizaveta/inf3190-a21-tp" target="_blank">Salcedo Renzo (SALR02089408)</a> et <a href="https://gitlab.info.uqam.ca/kovalenko.elizaveta/inf3190-a21-tp" target="_blank">Elizaveta Kovelenko (KOVE14549906)</a><span>Automne 2021</span></p>
</footer>