<header class="page-titre">
    <h1>Créer un compte ecole</h1>
</header>

<div class="form-sign"><form class="form" id="formulaire">
    <fieldset>
        <div class="titre-form">
            <h4>Détails du compte</h4>
            <div class="hii">
                Tous les champs sont requis
            </div>
        </div>
        <div class="form-group">
            <label for="nom1">Nom d'école</label>
            <input type="text" class="form-control" id="nom1" placeholder="">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Msg d'erreur</small>
        </div>
    <div class="form-group">
    <label for="adresse">Adresse</label>
    <input type="text" class="form-control" id="adresse" placeholder="">
    <i class="fas fa-check-circle"></i>
    <i class="fas fa-exclamation-circle"></i>
    <small>Msg d'erreur</small>
    </div>
    <div class="form-group">
        <label for="courriel">Courriel</label>
        <input type="text" class="form-control" id="courriel" placeholder="">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Msg d'erreur</small>
    </div>
    <div class="form-group">
        <label for="pass">Mot de passe</label>
        <input type="text" class="form-control" id="pass" placeholder="">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Msg d'erreur</small>
    </div>
    <div class="form-group">
        <label for="pass2">Confirmer le mot de passe</label>
        <input type="text" class="form-control" id="pass2" placeholder="">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Msg d'erreur</small>
    </div>
    <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" id="code" placeholder="">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Msg d'erreur</small>
    </div>
    <div class="form-group final" >
        <h4>
            Lisez avec plaisir
        </h4>
    </div>

    <div>
        <div >
            <button type="submit" class="btn button-creer">Créer un compte</button>			  </div>
        <div class="but-retour">
            <a href="index.html">Retour</a>
        </div>
    </div>
    </fieldset>
</form>
</div>
