
		<header class="container page-titre">
			<h1>Page Administrateur</h1>
		</header>
		<div class="container" >
			<div class="row login-container2" #container>
				<div class="login-form-1 col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
					<h3>Connexion</h3>
					<div class="ho">
						Tous les champs sont requis
					</div>
					<div class="Usager"><h4>Administrateur</h4></div>
					<div class="form2">
						<form>
						<div class="form-group">
							<input id="courriel" type="text" class="form-control" placeholder="Courriel" value="" #courrielInput>
						</div>
						<div class="form-group">
							<input id="motpass" type="password" class="form-control" placeholder="Mot de passe" value="" #motDePassInput>
						</div>
						<div class="form-group">
							<!--<input type="submit" class="btnSubmit" value="Se connecter" />-->
							<!--<button id="connexion" type="submit" class="btn btn-default">Se connecter</button>-->
							<a id="connexion" class="btn btn-default separe" (click)="connecte($event)">Se connecter</a>
						</div>
						<div class="form-group">
							<a href="#" class="ForgetPwd">Reinitialiser mot de passe</a>
						</div>
						</form>
					</div>
			</div>
			
			</div>
		</div>
		<div class="container" id="compte" #compte>
			<div class="row">
					<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#gerer">Gérer l’inventaire des livres/Modifier images marketing</a></li>
					<li><a data-toggle="tab" href="#valider">Valider les comptes de l'ecole</a></li>
					<li><a data-toggle="tab" href="#ajouter">Ajouter rabais</a></li>
					</ul>

					<div class="tab-content">
					<div id="gerer" class="tab-pane fade in active">
						<h3>Gérer l’inventaire des livres/Modifier images marketing</h3>
						
							<div class="accordion" id="Leslivres">
							    <div class="card" *ngFor="let livre of livres; let i = index">
                                    <div class="card-header" id="{{ 'tete' + i }}">
                                    <h2 [ngClass]="'mb' + i">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]=" '#livre' + i" aria-expanded="true" [attr.aria-controls]=" 'livre' + i "  (click)="voire(i)">
                                            {{livre.titre}} - {{i}}
                                        </button>
                                    </h2>
                                    </div>
                        
                                    <div id="{{ 'livre' + i }}"  [ngClass]="{'collapse ' : true, 'in': !voire}" [attr.aria-labelledby]=" 'tete' + i " data-parent="#Leslivres">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <img src="{{livre.image}}" class="img-thumbnail img-responsive" alt="La couverture du livre 'Le Petit Prince'">
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                <p><b>Code produit:</b> <span>{{livre.codeProduit}}</span></p>
                                                <p><b>Auteur:</b> {{livre.auteur}}</p>
                                                <p><b>Titre:</b> {{livre.titre}}</p>
                                                <p><b>Prix:</b> {{livre.prix}}</p>
                                                <p><strong>Rabais:</strong> {{livre.rabais}}</p>
                                                <p><b>Description:</b> {{livre.description}}</p>
                                                <p><b>Niveau scolaire:</b> {{livre.niveauScolaire}}</p>
                                                <button type="button" class="btn btn-info ajouter" >Ajouter</button>
                                                <button type="button" class="btn btn-warning enlever" >Enlever</button>
                                                <button type="button" class="btn btn-warning enlever" >Toggle</button>
                                            </div>
                                        </div>	
                                        
                                    </div>
                                    </div>
                                </div>


							</div>
						<div id="nouveauLivre" class="row">
							<button  type="button" class="btn btn-info ajouter">Ajouter un nouveau livre</button>
						</div> 
					</div>

					<div id="valider" class="tab-pane fade">
						<h3>Valider les comptes de l'ecole</h3>
                        <div class="accordion" id="lesEcoles">
                            <div class="card" *ngFor="let ecole of ecoles; let i = index">
                                <div class="card-header" id="{{ 'tete' + i }}">
                                <h2 [ngClass]="'mb' + i">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]=" '#ecole' + i" aria-expanded="true" [attr.aria-controls]=" 'ecole' + i "  (click)="voireEc(i)">
                                        {{ecole.nom}} - {{i}}
                                    </button>
                                </h2>
                                </div>
                    
                                <div id="{{ 'ecole' + i }}"  [ngClass]="{'collapse ' : true, 'in': !voireEc}" [attr.aria-labelledby]=" 'tete' + i " data-parent="#Lesecoles">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <img src="{{ecole.image}}" class="img-thumbnail img-responsive" alt="{{ecole.titre}}">
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                            <p><b>Code ecole:</b> <span>{{ecole.codeEcole}}</span></p>
                                            <p><b>Nom:</b> {{ecole.nom}}</p>
                                            <p><b>Courriel:</b> {{ecole.courriel}}</p>
                                            <p><b>Telephone:</b> {{ecole.telephone}}</p>
                                            <p><b>Adresse:</b> {{ecole.adresse}}</p>
                                            <button type="button" class="btn btn-info ajouter">Ajouter</button>
                                            <button type="button" class="btn btn-warning enlever">Enlever</button>
                                            <button type="button" class="btn btn-warning enlever">Toggle</button>
                                        </div>
                                    </div>	
                                    
                                </div>
                                </div>
                            </div>


                        </div>
							

							<div id="nouvelleEcole" class="row">
								<button  type="button" class="btn btn-info ajouter">Ajouter une nouvelle école</button>
							</div> 

					</div>			    
					
					<div id="ajouter" class="tab-pane fade">
						<h3>Ajouter rabais</h3>

							<div class="row">
							<div class="dropdown">
								<h4>Le Petit Prince - rabais courant: <span>10%</span></h4>    
								<button class="btn btn-default dropdown-toggle" type="button" id="rabais1" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="rabais1">
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
										<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
									</ul>
								</div>
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>The Very Hungry Caterpillar - rabais courant: <span>10%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais2" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais2">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>		
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>The Mushroom Fun Club - rabais courant: <span>15%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais3" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais3">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>Zoelie l'Alumette, Tome 13: 'Le sacrifice Inattendu' - rabais courant: <span>15%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais4" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais4">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>Mon Encyclopedie Junior du Quebec - rabais courant: <span>20%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais5" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais5">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>Percy Jackson, Tome 1: 'Le Voleur de Foudre' - rabais courant: <span>15%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais6" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais6">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>National Geographic Kids: Mon grand livre de l'espace - rabais courant: <span>25%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais7" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais7">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>Harry Potter, Tome 1: 'Harry Potter a l'ecole des sorciers - rabais courant: <span>15%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais8" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais8">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>Les Mechants, Tome 1 - rabais courant: <span>20%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais9" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais9">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>Le Sous-marin magique - rabais courant: <span>15%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais10" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais10">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>
							</div>

							<div class="row">
								<div class="dropdown">
									<h4>Le Voleur des feuilles - rabais courant: <span>25%</span></h4>    
									<button class="btn btn-default dropdown-toggle" type="button" id="rabais11" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="rabais11">
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">0%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">20%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">25%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30%</a></li>
											<li role="presentation"><a role="menuitem" tabindex="-1" href="#">50%</a></li>
										</ul>
								</div>
							</div>

					</div>


				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				
				

				$("#ajouter .dropdown-menu li a").on("click", function(){
					var rabais = $(this).text(); 
					var idRabais=$(this).parents(".dropdown-menu").siblings(".btn").attr("id");
					var idLivre=idRabais.replace("rabais", "livre");
				$(this).parents(".dropdown-menu").siblings(".btn").html(rabais+'<span class="caret"></span>');
					console.log("!!! "+ idLivre);
				$(this).parents(".dropdown-menu").siblings("h4").children("span").text(rabais);
				$("#"+idLivre).find(".rabais").text(rabais);
				rabais = ""; 
				});

				$(".modifier").on("click", function(){
					$(this).hide(); 
					$(this).next(".sauvegarder, .valider").show(); 
					$(this).siblings().find("input, textarea").prop("disabled", false); 
				}); 

				$(".sauvegarder, .valider").on("click", function(){
					$(this).siblings().find("input, textarea").prop("disabled", true); 
					$(this).hide();
					$(this).prev(".modifier").show();
				}); 

				$("input, textarea").on("change", function() {
				var nouvelleVal=$(this).val();
				$(this).attr( "value", nouvelleVal);
				});

			}); 



		</script>  
    

