
		<header class="container page-titre">
			<h1>Page Administrateur</h1>
		</header>
		<div class="container" >
			<div class="row login-container2" #container>
				<div class="login-form-1 col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
					<h3>Connexion</h3>
					<div class="ho">
						Tous les champs sont requis
					</div>
					<div class="Usager"><h4>Administrateur</h4></div>
					<div class="form2">
						<form>
						<div class="form-group">
							<input id="courriel" type="text" class="form-control" placeholder="Courriel" value="" #courrielInput>
						</div>
						<div class="form-group">
							<input id="motpass" type="password" class="form-control" placeholder="Mot de passe" value="" #motDePassInput>
						</div>
						<div class="form-group">
							<!--<input type="submit" class="btnSubmit" value="Se connecter" />-->
							<!--<button id="connexion" type="submit" class="btn btn-default">Se connecter</button>-->
							<a id="connexion" class="btn btn-default separe" (click)="connecte($event)">Se connecter</a>
						</div>
						<div class="form-group">
							<a href="#" class="ForgetPwd">Reinitialiser mot de passe</a>
						</div>
						</form>
					</div>
			</div>
			
			</div>
		</div>
		<div class="container" id="compte" #compte>
			<div class="row">
					<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" class="gerer" (click)="voiretab($event)">Gérer l’inventaire des livres/Modifier images marketing</a></li>
					<li><a data-toggle="tab" class="valider" (click)="voiretab($event)">Valider les comptes de l'ecole</a></li>
					<li><a data-toggle="tab" class="ajouter" (click)="voiretab($event)">Ajouter rabais</a></li>
					</ul>

					<div class="tab-content">
					<div id="gerer" class="tab-pane fade in active">
						<h3>Gérer l’inventaire des livres/Modifier images marketing</h3>
						
							<div class="accordion" id="Leslivres">
							    <div class="card" *ngFor="let livre of livres; let i = index">
                                    <div class="card-header" id="{{ 'tete' + i }}">
                                    <h2 [ngClass]="'mb' + i">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]=" '#livre' + i" aria-expanded="true" [attr.aria-controls]=" 'livre' + i "  (click)="voire(i)">
                                            {{livre.titre}} - {{i}}
                                        </button>
                                    </h2>
                                    </div>
                        
                                    <div id="{{ 'livre' + i }}"  [ngClass]="{'collapse ' : true, 'in': !voire}" [attr.aria-labelledby]=" 'tete' + i " data-parent="#Leslivres">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                            <img src="{{livre.image}}" class="img-thumbnail img-responsive" alt="">
                                            </div>
                                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                                <p><b>Code produit:</b> <span>{{livre.codeProduit}}</span></p>
                                                <p><b>Auteur:</b> {{livre.auteur}}</p>
                                                <p><b>Titre:</b> {{livre.titre}}</p>
                                                <p><b>Prix:</b> {{livre.prix}}</p>
                                                <p><strong>Rabais:</strong> {{livre.rabais}}</p>
                                                <p><b>Description:</b> {{livre.description}}</p>
                                                <p><b>Niveau scolaire:</b> {{livre.niveauScolaire}}</p>
                                                <button type="button" class="btn btn-info ajouter" >Ajouter</button>
                                                <button type="button" class="btn btn-warning enlever" >Enlever</button>
                                                <button type="button" class="btn btn-warning enlever" >Toggle</button>
                                            </div>
                                        </div>	
                                        
                                    </div>
                                    </div>
                                </div>


							</div>
						<div id="nouveauLivre" class="row">
							<button  type="button" class="btn btn-info ajouter">Ajouter un nouveau livre</button>
						</div> 
					</div>

					<div id="valider" class="tab-pane fade">
						<h3>Valider les comptes de l'ecole</h3>
                        <div class="accordion" id="lesEcoles">
                            <div class="card" *ngFor="let ecole of ecoles; let i = index">
                                <div class="card-header" id="{{ 'tete' + i }}">
                                <h2 [ngClass]="'mb' + i">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]=" '#ecole' + i" aria-expanded="true" [attr.aria-controls]=" 'ecole' + i "  (click)="voireEc(i)">
                                        {{ecole.nom}} - {{i}}
                                    </button>
                                </h2>
                                </div>
                    
                                <div id="{{ 'ecole' + i }}"  [ngClass]="{'collapse ' : true, 'in': !voireEc}" [attr.aria-labelledby]=" 'tete' + i " data-parent="#Lesecoles">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <img src="{{ecole.image}}" class="img-thumbnail img-responsive" alt="{{ecole.titre}}">
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                                            <p><b>Code ecole:</b> <span>{{ecole.codeEcole}}</span></p>
                                            <p><b>Nom:</b> {{ecole.nom}}</p>
                                            <p><b>Courriel:</b> {{ecole.courriel}}</p>
                                            <p><b>Telephone:</b> {{ecole.telephone}}</p>
                                            <p><b>Adresse:</b> {{ecole.adresse}}</p>
                                            <button type="button" class="btn btn-info ajouter">Ajouter</button>
                                            <button type="button" class="btn btn-warning enlever">Enlever</button>
                                            <button type="button" class="btn btn-warning enlever">Toggle</button>
                                        </div>
                                    </div>	
                                    
                                </div>
                                </div>
                            </div>


                        </div>
							

							<div id="nouvelleEcole" class="row">
								<button  type="button" class="btn btn-info ajouter">Ajouter une nouvelle école</button>
							</div> 

					</div>			    
					
					<div id="ajouter" class="tab-pane fade">
						<h3>Ajouter rabais</h3>

						<div class="row" *ngFor="let livre of livres; let i = index">
                            <div class="dropdown" appDropDown>
                                <h4>{{livre.titre}} - rabais courant: <span class="{{livre.codeProduit}}">{{livre.rabais}}</span>%</h4>    
                                    <button class="btn btn-default dropdown-toggle" type="button"  id="{{ 'rabais' + i }}" data-toggle="dropdown">Choix rabais<span class="caret"></span></button>
                                    <ul class="dropdown-menu" role="menu" [attr.aria-labelledby]=" 'rabais' + i ">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" (click)="rabais($event, livre.codeProduit)">0</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" (click)="rabais($event, livre.codeProduit)">10</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" (click)="rabais($event, livre.codeProduit)">15</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" (click)="rabais($event, livre.codeProduit)">20</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" (click)="rabais($event, livre.codeProduit)">25</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" (click)="rabais($event, livre.codeProduit)">30</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" (click)="rabais($event, livre.codeProduit)">50</a></li>
                                    </ul>
                                </div>
                        </div>


					</div>


				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(function(){
				
				

				$("#ajouter .dropdown-menu li a").on("click", function(){
					var rabais = $(this).text(); 
					var idRabais=$(this).parents(".dropdown-menu").siblings(".btn").attr("id");
					var idLivre=idRabais.replace("rabais", "livre");
				$(this).parents(".dropdown-menu").siblings(".btn").html(rabais+'<span class="caret"></span>');
					console.log("!!! "+ idLivre);
				$(this).parents(".dropdown-menu").siblings("h4").children("span").text(rabais);
				$("#"+idLivre).find(".rabais").text(rabais);
				rabais = ""; 
				});

				$(".modifier").on("click", function(){
					$(this).hide(); 
					$(this).next(".sauvegarder, .valider").show(); 
					$(this).siblings().find("input, textarea").prop("disabled", false); 
				}); 

				$(".sauvegarder, .valider").on("click", function(){
					$(this).siblings().find("input, textarea").prop("disabled", true); 
					$(this).hide();
					$(this).prev(".modifier").show();
				}); 

				$("input, textarea").on("change", function() {
				var nouvelleVal=$(this).val();
				$(this).attr( "value", nouvelleVal);
				});

			}); 



		</script>  
    

