       <header>
			<div class="jumbotron big-banner text-center ">
			<h1>Bienvenue au Club de Lecture</h1>
			<p>Nous cherchons à élargir le nombre des petits lecteurs dans notre communauté!</p> 
				<div class="col-md-12 Choix"><a routerLink="/bibliotheque" type="button" class="btn btn-warning">Notre choix des livres</a></div>
			</div>
		</header>
		<div class="container" id="nosLivres">
			<div class="imagesLivres">
			  <div id="carouselImagesLivres" class="carousel slide" data-ride="carousel" data-interval="false">
				<div class="carousel-inner">
					<div *ngFor="let livre of livres; let i = index" [class]="i == 0 ? 'item active':'item'">
						<img src="{{livre.image}}" class="img-thumbnail img-responsive" alt="{{livre.titre}}">
						<div class="carousel-caption ">
						  <h5>{{livre.titre}}</h5>
						  <p>Rabais: {{livre.rabais}}% </p>
						</div>
					  </div>
				</div>
				<a class="carousel-control left" data-slide="prev" (click)="carous($event)">
				  <span class="glyphicon glyphicon-chevron-left"></span>
				  <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control right" data-slide="next" (click)="carous($event)">
				  <span class="glyphicon glyphicon-chevron-right"></span>
				  <span class="sr-only">Next</span>
				</a>
			  </div>
			</div>
		</div>
<!---Le code html pour la page acceuil avec la carousel de nos livres vendues-------->	

