<!--la pages des contacts des employees de notre Clib de Lecture-->
<header>
    <div class="jumbotron entete">
        <h1>Notre Equipe:</h1> 
    </div>
</header>
<div class="container">

			
    <div class="row">
        <div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-12">
            <div class="row personnel">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img src="./assets/images/Marie.jpg" class="img-thumbnail img-responsive" alt="Marie la directrice">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <p><b>Nom:</b> Marie Desjardins</p>
                    <p><b>Poste:</b> Directrice - Responsable du Club de Lecture</p>
                    <p><b>Courriel:</b> <a href="mailto:mdesjardins@biblio.qc">mdesjardins@biblio.qc</a></p>
                    <p><b>Telephone:</b> <a href="tel:514-566-0909">514-566-0909</a></p>
                </div>
            </div>
        </div>


    
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row personnel">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                      <img src="./assets/images/Alex.jpg" class="img-thumbnail img-responsive" alt="Alex la bibliothécaire">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <p><b>Nom:</b> Alex Tremblay</p>
                    <p><b>Poste:</b> Bibliothécaire</p>
                    <p><b>Courriel:</b> <a href="mailto: atremblay@biblio.qc"> atremblay@biblio.qc</a></p>
                    <p><b>Telephone:</b> <a href="tel:514-098-0777">514-098-0777</a></p>
                </div>
            </div>
    
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row personnel">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <img src="./assets/images/Jean.jpg" class="img-thumbnail img-responsive" alt="Jean le technicien">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <p><b>Nom:</b> Jean Dupont</p>
                    <p><b>Poste:</b> Technicien</p>
                    <p><b>Courriel:</b> <a href="mailto:jdupont@biblio.qc">jdupont@biblio.qc</a></p>
                    <p><b>Telephone:</b> <a href="tel:514-198-0325">514-198-0325</a></p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row personnel">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <img src="./assets/images/Maude.jpg" class="img-thumbnail img-responsive" alt="Maude l'administratrice">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <p><b>Nom:</b> Maude Rioux</p>
                    <p><b>Poste:</b> Administratrice</p>
                    <p><b>Courriel:</b> <a href="mailto:mrioux@biblio.qc">mrioux@biblio.qc</a></p>
                    <p><b>Telephone:</b> <a href="tel:514-833-0309">514-833-0309</a></p>
                </div>
            </div>
        </div>

    
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row personnel">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <img src="./assets/images/Simon.jpg" class="img-thumbnail img-responsive" alt="Simon le secrétaire">
                </div>
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <p><b>Nom:</b> Simon Cadieux</p>
                        <p><b>Poste:</b> Secrétaire</p>
                        <p><b>Courriel:</b> <a href="mailto:scadieux@biblio.qc">scadieux@biblio.qc</a></p>
                        <p><b>Telephone:</b> <a href="tel:514-778-2369">514-778-2369</a></p>
                    </div>
            </div>
        </div>	
</div>
        
</div>