<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche Detaillée</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
</head>

<body id="recherche">

	  <header class="page-titre">
		  <h1>Recherche Detaillée</h1>
	  </header>

	  <div class="form-sign"><form id="formRecherche" class="formRecherche">
		
				<div class="form-group-1">
					<label for="formGroupExampleInput">Titre&nbsp&nbsp</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
				</div>
				<fieldset class="fieldsetradio">
					
					<input class="form-check-input" type="radio" name="flexRadioDisabled" id="bRadio1">
					<label class="form-check-label1" for="bRadio1">
					  Titre exact
					</label>
					
				  <div class="form-groupa b2">
					<input class="form-check-input" type="radio" name="flexRadioDisabled" id="bRadio2">
					<label class="form-check-label1" for="bRadio2">
						Mots du titre
					</label>
				  </div>
				  	<i class="fas fa-check-circle"></i>
		  			<i class="fas fa-exclamation-circle"></i>
		  			<small>Msg d'erreur</small>
				</fieldset>
				
				<div class="form-group-1">
				<label for="formGroupExampleInput2">Catégorie</label>
				<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
				</div>
				<div class="form-group-1">
					<label for="formGroupExampleInput2">Auteur</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
				</div>
				<div class="form-group-1">
					<label for="formGroupExampleInput2">Mot Clé</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
				</div>
				<div class="form-group-1">
					<label for="formGroupExampleInput2">Éditeur</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
					
				</div>
				<div class="form-group-1">
					<label for="formGroupExampleInput2">Collection</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
				</div>
				
					<input class="form-check-input caseA" type="checkbox" id="bCheck1" value="option1">
					<label class="form-check-label" id="bCheck1Label" for="bCheck1">Penguin Coccinelle</label>
				  	
				  <div class="form-check form-check-inline case1">
					<input class="form-check-input" type="checkbox" id="bCheck2" value="option2">
					<label class="form-check-label" for="bCheck2">Penguin Classics</label>
				</div>
				  	<i class="fas fa-check-circle"></i>
		  			<i class="fas fa-exclamation-circle"></i>
		  			<small>Msg d'erreur</small>
			

				<div class="row">
					<div >
						<button (click)="handleClick()" class="btn button-creer">Chercher</button>
					</div>
					<div class="but-retour">
						<a href="index.html">Retour</a>
					</div>
				</div>
	  </form>
	</div>

	<script>
		
		const form = document.getElementById('formRecherche');
		const bRadio1 = document.getElementById('bRadio1');
		const bRadio2 = document.getElementById('bRadio2');
		const bCheck1 = document.getElementById('bCheck1');
		const bCheck2 = document.getElementById('bCheck2');

	formRecherche.addEventListener('submit', (e) => {
    e.preventDefault();
    verifierEntrees();
}
)

function verifierEntrees() {
    const bRadio1Val= bRadio1.value.trim();
	const bCheck1Val= bCheck1.value.trim();

	
    if(!form.elements["bRadio1"].checked && !form.elements["bRadio2"].checked) {
        msgErreur(bRadio1, 'vous devez choisir une option.')
		
    } else {
        msgReussi(bRadio1);
    }

	if(!form.elements["bCheck1"].checked && !form.elements["bCheck2"].checked) {
        msgErreur(bCheck1, 'vous devez choisir une option.')
		
    } else {
        msgReussi(bCheck1);
    }
	

}

function msgErreur(input, message){
    const formGroup = input.parentElement;
    const small = formGroup.querySelector('small');

    small.innerText = message;

    formGroup.className = 'formRecherche echoue';
}

function msgReussi(input) {
    const formGroup = input.parentElement;
    formGroup.className = 'formRecherche reussi';
}

	</script>
    
</body>
</html>
