<!--La page de connexion au compte utilisateur : usager et ecole-->
<header class="container page-titre">
  <h1>Page Usager</h1>
</header>

<div class="container">
  <div class="row login-container">
      <div class="login-form-1 col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
        <h3>Connexion</h3>
          <div class="ho">
            <p>Tous les champs sont requis</p>
          </div>
    <div class="Usager"><h4>Usager</h4></div>
      <form id="form">
          <div class="form-group-usager">
              <input type="text" id="courriel" class="form-control" placeholder="Courriel" value="" />
          </div>
          <div class="form-group-usager">
              <input type="password" id="password" class="form-control" placeholder="Mot de passe" value="" />
          </div>
          <div class="form-group-usager">
              <input (click)="handleClick()" class="btn btnSubmit separe" value="Se connecter">
          </div>
          <div class="form-group">
              <a href="#" class="ForgetPwd">Reinitialiser mot de passe</a>
          </div>
      </form>
    </div>
  </div>
</div>	  

    

